#logo{
    width:6%;
}

#navbarNav
{
    padding-left:3%;
    font-size:25px;
}

#navitem{
    padding-right:1%
}

body{
    padding-top:10%;
    padding-left:5%;
    padding-right:5%;
}
#button{
    width:40%;
}