#logo{
    width:6%;
}

#navbarNav
{
    padding-left:3%;
    font-size:25px;
}

#navitem{
    padding-right:1%
}

body{
    padding-top:8%;
    padding-left:9%;
    padding-right:9%;
}
#button{
    width:40%;
}

.card-img-top{
    width:70%;
}
 
#chicken1{
    width:8%;
}

#ingredients{
    padding-right:2%;
    padding-bottom:4%;
}

#recipe{
    padding-right:2%;
    padding-bottom:4%;
}